body {
  padding: 0;
  margin: 0;
}

.header {
  height: 100px;
  width: 100%;
  background: #007bff;;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-size: 32px;
}

.padding20-10 {
  padding: 20px 10px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.card-style {
  cursor: pointer;
}

.item-view {
  padding: 20px;
  display: flex;
  justify-content: center;
}